.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	overflow: auto;
}

/*#lower-flex-container {
	transform: translateY(100%);
}*/

.flex-item {
	height: 30%;
	width: 90%;
	margin: 3px;
	position: relative;
	border-radius: 8px;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.flex-item img {
	height: auto;
	width: 100%;
	position: relative;
	border-radius: 8px;
}

.image-overlay-top {
  position: absolute;
  bottom: 70%;
  left: 0;
  right: 0;
  background-color: #395979;
  overflow: hidden;
  width: 0;
  height: 30%;
  transition: .5s ease;
  border-radius: 8px 8px 0 0;
}

.image-overlay-bottom {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  background-color: rgba(80, 80, 80, 0.15);
  overflow: hidden;
  width: 0;
  height: 70%;
  transition: .5s ease;
  border-radius: 0 0 8px 8px;
}

.flex-item:hover .image-overlay-top {
  width: 100%;
}

.flex-item:hover .image-overlay-bottom {
  width: 100%;
}

.button {
  white-space: nowrap; 
  background-color: #395979;
  font-size: 2.8vh;
  padding: 0.7vh;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*word-wrap: break-word;*/
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 3vh;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 50% auto; /* 50% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 95%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #6c6c6c;
  text-decoration: none;
  cursor: pointer;
}

/* Gallery Styles */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 4px;
}

.featured-item {
	border-radius: 4px;
}

.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	height: auto;
	width: 30%;
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
	font-size: 0px;
	border-top: none;
}

.move-btn {
	display: none;
	width: 50%;
	border: none;
	color: white;
	font-size: 16px;
	background-color: #395979;
	padding: 0.8em 2.1em;
}

.move-btn:first-child {border-right: none;}
.move-btn.left  { border-radius: 0px 0px 0px 4px; cursor: w-resize; }
.move-btn.right { border-radius: 0px 0px 4px 0px; cursor: e-resize; }